# base
cmake
ninja

# computational libraries
numpy
einops
scipy
kornia
opencv-python
roma
nerfacc>=0.5.3
PyMCubes

# for use ML models
diffusers
transformers
safetensors

# for training differentiable tensors
pytorch_msssim

# for process images & videos
imageio
imageio-ffmpeg

# for dmtet and mesh import & export
trimesh
plyfile
pygltflib
xatlas
pymeshlab

# configs & extra
torchtyping
tqdm
jaxtyping
packaging
OmegaConf
