# build tools
cmake
ninja
pccm

# web tools
PyGithub
requests

# computational libraries
numpy
einops
scipy
kornia
opencv-python
pillow
nerfacc>=0.5.3
slangtorch
cumm==0.7.11 
spconv-cu126

git+https://github.com/EasternJournalist/utils3d.git#egg=utils3d
git+https://github.com/ashawkey/kiuikit.git#egg=kiui

# for use ML models
diffusers>=0.26.1
transformers>=4.36.2
safetensors
open_clip_torch
mmgp

# for training differentiable tensors
torchmetrics
pytorch_msssim
pytorch-lightning
peft

# for process images & videos
rembg
onnxruntime
imageio
imageio-ffmpeg
matplotlib
realesrgan

# for process, import & export mesh 
trimesh
fast-simplification
plyfile
pygltflib
xatlas
pymeshlab
gpytoolbox
PyMCubes
libigl
pyvista
pymeshfix
igraph
open3d

# configs & extra
torchtyping>=0.1.5
tqdm
jaxtyping
packaging
OmegaConf
pyhocon
iopath
easydict