#base
cmake
ninja
kornia
OmegaConf
numpy
einops
scipy
opencv-python

# for use ML models
diffusers
transformers

# for training differentiable tensors
pytorch_msssim

# for process images & videos
imageio
imageio-ffmpeg

# for dmtet and mesh import & export
trimesh
plyfile
pygltflib
xatlas
pymeshlab

# extra
torchtyping
tqdm
jaxtyping
