scikit-learn
gpustat
nvitop
diffusers
transformers
einops
huggingface_hub
opencv-python
trimesh
omegaconf
scikit-image
numpy==1.26.4
peft
jaxtyping
typeguard
matplotlib
imageio-ffmpeg
pyrender
deepspeed
wandb[media]
colormaps