model:
  target: imagedream.ldm.interface.LatentDiffusionInterface
  params:
    linear_start: 0.00085
    linear_end: 0.0120
    timesteps: 1000
    scale_factor: 0.18215
    parameterization: "eps"

    unet_config:
      target: imagedream.ldm.modules.diffusionmodules.openaimodel.MultiViewUNetModel
      params:
        image_size: 32 # unused
        in_channels: 4
        out_channels: 4
        model_channels: 320
        attention_resolutions: [ 4, 2, 1 ]
        num_res_blocks: 2
        channel_mult: [ 1, 2, 4, 4 ]
        num_head_channels: 64 # need to fix for flash-attn
        use_spatial_transformer: True
        use_linear_in_transformer: True
        transformer_depth: 1
        context_dim: 1024
        use_checkpoint: False
        legacy: False
        camera_dim: 16
        with_ip: True
        ip_dim: 16 # ip token length
        ip_mode: "local_resample"

    vae_config:
      target: imagedream.ldm.models.autoencoder.AutoencoderKL
      params:
        embed_dim: 4
        monitor: val/rec_loss
        ddconfig:
          #attn_type: "vanilla-xformers"
          double_z: true
          z_channels: 4
          resolution: 256
          in_channels: 3
          out_ch: 3
          ch: 128
          ch_mult:
          - 1
          - 2
          - 4
          - 4
          num_res_blocks: 2
          attn_resolutions: []
          dropout: 0.0
        lossconfig:
          target: torch.nn.Identity

    clip_config:
      target: imagedream.ldm.modules.encoders.modules.FrozenOpenCLIPEmbedder
      params:
        freeze: True
        layer: "penultimate"
        ip_mode: "local_resample"
